.home-logo {
    position: absolute;
    top: 100px;
    right: 50%;
    size: 250px 250px;
    z-index: 1;
  }
  
  .slo-border, .left-eye, .right-eye {
    size: 250px 250px;
    position: inherit;
  }